<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Students.Properties.Settings.projetConnectionString"
            connectionString="Data Source=DESKTOP-FFB7557;Initial Catalog=projet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Students.Properties.Settings.projetConnectionString1"
            connectionString="Data Source=LAPTOP-9PI2QOED\SQLEXPRESS;Initial Catalog=projet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="projet1.Properties.Settings.projetConnectionString"
            connectionString="Data Source=PAVILION\SQLEXPRESS;Initial Catalog=projet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="projet1.Properties.Settings.projetConnectionString1"
            connectionString="Data Source=DESKTOP-FFB7557;Initial Catalog=projet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>